{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

brew tap homebrew/cask-fonts

{{ $brews := list
       "curl"
       "ffmpeg"
       "fish"
       "fzf"
       "font-source-code-pro"
       "gh"
       "git-delta"
       "git-lfs"
       "git"
       "go-task/tap/go-task"
       "go"
       "hugo"
       "libjpeg"
       "starship"
       "wget"
       "zlib" -}}
{{ $casks := list
       "alfred"
       "bettertouchtool"
       "dash"
       "docker"
       "firefox"
       "font-fira-code"
       "iterm2"
       "kaleidoscope"
       "spotify" -}}


{{ if .personal -}}
{{ $casks = concat $casks (list
       "google-chrome"
       "google-cloud-sdk") -}}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

{{ end -}}