{{ if .google -}}
#!/bin/bash

set -eufo pipefail

#######################################
# Google scripts valult
#######################################

echo "Follow instructions at https://go/google-dotfiles-installer"
echo "Script will continue once all required binaries are in place"
echo "Waiting . . ."

bin_dir="$HOME/.local/bin"

while [ ! -f "$bin_dir/grab-goog-dotfile" ]
do
  sleep 2
done

if [[ ! -x "$bin_dir/grab-goog-dotfile" ]]
then
    echo "Binary found, but is not executable"
    echo "Give excution permission.."
    chmod a+x "$bin_dir/grab-goog-dotfile"
else
    echo "Binary found"
fi

export PATH="$PATH:$HOME/.local/bin"

{{ end -}}