#!/bin/bash

set -eufo pipefail


# Volta node and npm installer
curl https://get.volta.sh | bash -s -- --skip-setup
# we need to use volta rightaway, so append it to path
export VOLTA_HOME="$HOME/.volta"
export PATH="$PATH:$VOLTA_HOME/bin"

volta install node@latest

# rust: cargo required for some cli tools
if [ ! "$(command -v rustup)" ]; then
	curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh

	# we need to use volta rightaway, so apoend it to path
	export PATH="$PATH:$HOME/.cargo/bin"
else
	rustup update
fi

# We get these via homebew on mac
{{ if eq .chezmoi.os "linux" }}
cargo install exa
{{ end }}

npm -g install dhost
npm install -g brotli-size-cli
npm install -g gzip-size-cli