{{ if (eq .chezmoi.os "linux") -}}
{{ if (eq .chezmoi.osRelease.id "debian") -}}
#!/bin/bash

set -eufo pipefail

repositories=()

packages=(
       curl
       bat
       fish
       micro
       wget
       fzf
       tmux
)

for repository in ${repositories[@]}; do
       sudo add-apt-repository -y $repository
done

# Zoxide (apt install require Ubuntu 21.04+)
curl -sS https://webinstall.dev/zoxide | bash

# starship
sh -c "$(curl -fsSL https://starship.rs/install.sh)"

{{ end -}}
{{ end -}}