{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

{{ $brews := list
       "bat"
       "curl"
       "exa"
       "ffmpeg"
       "fish"
       "fzf"
       "gh"
       "git-delta"
       "git-lfs"
       "git"
       "gnu-units"
       "go-task/tap/go-task"
       "go"
       "hostess"
       "hugo"
       "imagemagick" 
       "libjpeg"
       "micro"
       "node"
       "starship"
       "tmux"
       "wget"
       "zlib"
       "zoxide" -}}
{{ $casks := list
       "alfred"
       "bettertouchtool"
       "dash"
       "docker"
       "firefox"
       "font-fira-code"
       "iterm2"
       "jetbrains-toolbox"
       "kaleidoscope"
       "rectangle"
       "spotify" -}}


{{ if .personal -}}
{{ $casks = concat $casks (list
       "google-chrome"
       "google-cloud-sdk") -}}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

{{ end -}}