- name: Include default apt packages
  include_vars:
    file: default/packages.yml
    name: default_packages
  
- name: Include computer-specific apt packages
  include_vars:
    file: "{{ computer_type }}/packages.yml"
    name: extra_packages

- name: Compose apt packages
  set_fact:
    apt_packages: "{{ default_packages.apt_packages + extra_packages.apt_packages }}"
    
- name: Install apt packages
  apt:
    name: "{{ item }}"
    state: present
  loop: "{{ apt_packages }}"
  become: yes

- name: Install ripgrep on Debian
  become: true  
  block:
    - name: Download ripgrep DEB package
      get_url:
        url: "https://github.com/BurntSushi/ripgrep/releases/download/13.0.0/ripgrep_13.0.0_amd64.deb"
        dest: "/tmp/ripgrep_13.0.0_amd64.deb"
        mode: '0644'

    - name: Install ripgrep DEB package
      apt:
        deb: "/tmp/ripgrep_13.0.0_amd64.deb"

    - name: Cleanup ripgrep deb package (optional)
      file:
        path: "/tmp/ripgrep_13.0.0_amd64.deb"
        state: absent

- name: Install zoxide on Debian
  shell: | 
    curl -sSfL https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | sh