- name: Include default apt packages
  include_vars:
    file: default/packages.yml
    name: default_packages
  
- name: Include computer-specific apt packages
  include_vars:
    file: "{{ computer_type }}/packages.yml"
    name: extra_packages

- name: Custom work packages
  tasks:
    - include_tasks:  "work/tasks/apt.yml"
      when: computer_type == "work"

- name: Compose apt packages
  set_fact:
    apt_packages: "{{ default_packages.apt_packages + extra_packages.apt_packages }}"
    
- name: Install apt packages
  apt:
    name: "{{ item }}"
    state: present
  loop: "{{ apt_packages }}"
  become: yes

- name: Install ripgrep on Debian (if not already installed)
  become: true
  block:
    - name: Check if ripgrep is already installed
      command: dpkg-query -W -f='${Status}' ripgrep
      register: ripgrep_status
      failed_when: ripgrep_status.rc != 0 and ripgrep_status.rc != 1
      changed_when: false

    - name: Download ripgrep DEB package
      get_url:
        url: "https://github.com/BurntSushi/ripgrep/releases/download/13.0.0/ripgrep_13.0.0_amd64.deb"
        dest: "/tmp/ripgrep_13.0.0_amd64.deb"
        mode: '0644'
      when: ripgrep_status.rc == 1

    - name: Install ripgrep DEB package
      apt:
        deb: "/tmp/ripgrep_13.0.0_amd64.deb"
      when: ripgrep_status.rc == 1

    - name: Cleanup ripgrep deb package 
      file:
        path: "/tmp/ripgrep_13.0.0_amd64.deb"
        state: absent
      when: ripgrep_status.rc == 1

- name: Install zoxide on Debian
  shell: | 
    curl -sSfL https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | sh
  when: not ansible_env.PATH is search('z')

- name: Download and install fzf script
  block:
    - name: Ensure ~/.local/bin directory exists
      file:
        path: ~/.local/bin
        state: directory
        mode: '0755'

    - name: Clone fzf
      git:
        repo: 'https://github.com/junegunn/fzf.git'
        dest: "{{ansible_env.HOME}}/.local/bin/fzf"
        depth: 1
    - name: Install fzf
      shell: |
        ~/.local/bin/fzf/install

- name: Install Fish Shell
  become: yes  # Use sudo for the commands
  apt:
    name: fish
    update_cache: yes  # Refresh the package list before installation
    state: present  # Ensure Fish is installed (or do nothing if it already is)
  apt_repository:  # Add the Fish PPA
    repo: ppa:fish-shell/release-3
    state: present