- name: Load variables from a YAML file
  include_vars:
    file: "{{computer_type}}/env.yml"

- name: Clean old compiled files
  shell: rm -rf out

# TODO(zouhir): Maybe ansible should be able to create dest directory if it did not exist.
- name: Create necessary dirs
  shell: |
    mkdir -p -m 755 out/.config/alacritty
    mkdir -p -m 755 out/.config/iterm2
    mkdir -p -m 755 out/.ssh

- name: Find all dotfiles in the source directory
  find:
    paths: "default/dotfiles"
    recurse: yes
    hidden: yes
  register: dotfiles_src

- name: Compile and copy template dotfiles.
  template:
    src: "{{ item.path }}"
    dest: "out/{{ item.path | regex_replace('^default/dotfiles', '') | regex_replace('\\.j2$', '') }}"
  with_items: "{{ dotfiles_src.files | default([]) }}"
  when: 
    - dotfiles_src.matched > 0
    - item.path is match(".*j2$")

- name: Copy non-template dotfiles.
  template:
    src: "{{ item.path }}"
    dest: "out/{{ item.path | regex_replace('^default/dotfiles', '') }}"
  with_items: "{{ dotfiles_src.files | default([]) }}"
  when: 
    - dotfiles_src.matched > 0
    - item.path is not match(".*j2$")

- name: Download catppuccin-mocha.toml for Alacritty
  get_url:
    url: https://github.com/catppuccin/alacritty/raw/main/catppuccin-mocha.toml
    dest: out/.config/alacritty/catppuccin-mocha.toml

- name: Download catppuccin-mocha.toml for iTerm2
  get_url:
    url: https://github.com/catppuccin/iterm/raw/main/colors/catppuccin-mocha.itermcolors
    dest: out/.config/iterm2/catppuccin-mocha.itermcolors