################################################
# Completion
################################################
fpath+=("${XDG_CONFIG_HOME}/zsh/completions")

# Enable command auto completion.
autoload -Uz compinit
compinit

zstyle ':completion:*' menu select
zstyle ':completion:*' use-cache on
zstyle ':completion:*' cache-path $XDG_CACHE_HOME
# matches case insensitive for lowercase
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Z}'
# pasting with tabs doesn't perform completion
zstyle ':completion:*' insert-tab pending

bindkey "^[[Z" reverse-menu-complete

if [[ -d ${XDG_CONFIG_HOME}/zsh/zsh-autosuggestions ]]; then
  source "${XDG_CONFIG_HOME}/zsh/zsh-autosuggestions/zsh-autosuggestions.zsh"
fi

################################################
# History
################################################
HISTFILE=${XDG_CACHE_HOME}/.zsh_history
HISTSIZE=10000
SAVEHIST=10000

setopt SHARE_HISTORY
setopt APPEND_HISTORY
setopt INC_APPEND_HISTORY
setopt HIST_IGNORE_DUPS
setopt HIST_EXPIRE_DUPS_FIRST
setopt HIST_IGNORE_SPACE

################################################
# PATH
################################################
path_dirs=(
  "/bin"
  "/sbin"
  "/usr/bin"
  "/usr/sbin"
  "/usr/local/bin"
  "/opt/homebrew/bin"
  "/opt/homebrew/sbin"
  "$HOME/bin"
  "$HOME/.local/bin"
  "$HOME/go/bin"
  "$HOME/Library/Python/$py_version/bin"
  {% if ansible_os_family == "Debian" %}
  "$HOME/.local/bin/fzf/bin"
  {% endif %}
)

for dir in $path_dirs; do
  if [[ -d $dir ]]; then
    path+=$dir
  fi
done
typeset -U path
export PATH

# MacOS `ls` Colors. Not needed for Debain.
{% if ansible_os_family == "Darwin" %}
export CLICOLOR=1
export LSCOLORS=GxFxCxDxBxegedabagaced
{% endif %}

# Editor.
export EDITOR=nvim

# Options
unsetopt BEEP

if [[ -d ${XDG_CONFIG_HOME}/zsh/zsh-syntax-highlighting ]]; then
  source "${XDG_CONFIG_HOME}/zsh/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"
fi

source "${ZDOTDIR}/aliases.zsh"

if [[ -d "${ZDOTDIR}/functions" ]]; then
  for file in "${ZDOTDIR}/functions"/*.zsh; do
      source $file
  done
fi

{% if computer_type == "work" %}
{% set file_contents = lookup('file', playbook_dir + '/work/dotfiles/.config/zsh/zshrc.zsh') %}
{{ file_contents }}
{% endif %}

eval "$(fzf --zsh)"
eval "$(starship init zsh)"
eval "$(zoxide init zsh)"