Match all
  ClientAliveCountMax 3
  ClientAliveInterval 60
  Compression yes
  ConnectionAttempts 2  
  ConnectTimeout 60
  ControlMaster auto
  ControlPath ~/.ssh/ctrl-%C
  ControlPersist 8h
  ServerAliveCountMax 20
  ServerAliveInterval 5
  TCPKeepAlive yes

{% if computer_type == "work" and computer_kind == "client" %}
{% set file_contents = lookup('file', playbook_dir + '/work/dotfiles/.ssh/hosts') %}
{{ file_contents }}
{% endif %}
