Match all
{% if computer_kind == "server" %}
  ClientAliveCountMax 20
  ClientAliveInterval 5
{% endif %}
  Compression yes
  ConnectionAttempts 2  
  ConnectTimeout 60
  ControlMaster auto
  ControlPath ~/.ssh/ctrl-%C
  ControlPersist 8h
{% if computer_kind == "client" %}
  ServerAliveCountMax 20
  ServerAliveInterval 5
{% endif %}
  TCPKeepAlive yes

{% if computer_type == "work" and computer_kind == "client" %}
{% set file_contents = lookup('file', playbook_dir + '/work/dotfiles/.ssh/partials/hosts') %}
{{ file_contents }}
{% endif %}
